.page {
  transform: translate3d(0, 0, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.page::-webkit-scrollbar {
  width: 0;
}

.page.home {
  background-color: #f2f3f8;
}

.page.single {
  background-color: #ffff;
}

.page-current {
  z-index: 1;
}

.page-movefrom {
  animation: movefrom .4s linear both;
}

.page-moveto {
  animation: moveto .5s linear both;
}

@keyframes movefrom {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveto {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(20px, 0, 0);
    opacity: 0;
  }
}
